.main {
    width: 100%;
    height: 100%;
}

.slidegrid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 45vw;
    border: solid 5px dimgrey;
}

.cell {
    width: 33%;
    height: 33%;
    border: solid 2px white;
}

#cell span {
    background-color: white;
}

.cell span {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile */

@media only screen and (max-width: 800px) {
    .main {
        font-size: 30px;
    }
    .slidegrid {
        width: 90vw;
        height: 90vw;
    }
}