ul {
    list-style-type:none;
    display: table;
    width: 100%;
}

ul li {
    display: table-row;
}

ul li div {
    display: table-cell;
    width: 33%;
    text-align: left;
}

.left{
    float:left;
    width:50%;
    overflow:hidden;
}
.right{
    float:left;
    width:50%;
    overflow:hidden;
}

.score-table {
    padding-bottom: 100px;
    width: 100%;
    font-size: 25px;
}

button{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 100px;
    font-size: 20px;
}
